:root {
--main-bg-color: dodgerblue;
}

.link-list {

}

.link-list li {
  margin-top: 20px;
}

.page-link {
 display: inline-block;
 text-decoration: none;
 /* background-color: lightblue; */
 
 background-color: var(--main-bg-color);
 padding: 10px;
}

.page-link:hover {
 background-color: brown;
 color: white;
}

div {
  background-color: var(--main-bg-color);
}