:root {
    --gutter-size: 1rem;
    --column-counter: 12;
}

* {
    box-sizing: border-box;
}

.container {
--padding-size:calc(var(--gutter-size)/2);

padding-left: var(--padding-size);
padding-right: var(--padding-size);
width: 100%;
}

.row {
display: flex;
flex-flow: row wrap;
justify-content: center;
margin-left: calc(var(--padding-size) * -1);
margin-right: calc(var(--padding-size) * -1);
}

article {
    border: 2px solid red;
}

.row > * {
    padding-left: var(--gutter-size);
    padding-right: var(--gutter-size);
}


.col-1 {
--size: calc(100%/var(--column-counter)*1);
flex-basis: var(--size);
max-width: var(--size);
}

.col-2 {
    --size: calc(100%/var(--column-counter)*2);
    flex-basis: var(--size);
    max-width: var(--size);
}

.col-3 {
    --size: calc(100%/var(--column-counter)*3);
    flex-basis: var(--size);
    max-width: var(--size);
}

.col-4 {
    --size: calc(100%/var(--column-counter)*4);
    flex-basis: var(--size);
    max-width: var(--size);
}

.col-5 {
    --size: calc(100%/var(--column-counter)*5);
flex-basis: var(--size);
max-width: var(--size);
}

.col-6 {
    --size: calc(100%/var(--column-counter)*6);
    flex-basis: var(--size);
    max-width: var(--size);    
}

.col-7 {
    --size: calc(100%/var(--column-counter)*7);
    flex-basis: var(--size);
    max-width: var(--size);    
}

.col-8 {
    --size: calc(100%/var(--column-counter)*8);
    flex-basis: var(--size);
    max-width: var(--size);    
}
.col-9 {
    --size: calc(100%/var(--column-counter)*9);
    flex-basis: var(--size);
    max-width: var(--size);   
}

.col-10 {
    --size: calc(100%/var(--column-counter)*10);
    flex-basis: var(--size);
    max-width: var(--size);   
}

.col-11 {
    --size: calc(100%/var(--column-counter)*11);
    flex-basis: var(--size);
    max-width: var(--size);   
}

.col-12 {
    --size: calc(100%/var(--column-counter)*12);
    flex-basis: var(--size);
    max-width: var(--size);  
}



@media screen and (min-width: 576px) {


    .container {
        --padding-size:calc(var(--gutter-size)/2);
        
        padding-left: var(--padding-size);
        padding-right: var(--padding-size);
        width: 100%;
        max-width: 540px;
        margin-left: auto;
        margin-right: auto;
        }
        
        .row {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-left: calc(var(--padding-size) * -1);
        margin-right: calc(var(--padding-size) * -1);
        }
        
        article {
            border: 2px solid red;
        }
        
        .row > * {
            padding-left: var(--gutter-size);
            padding-right: var(--gutter-size);
        }
        
        
        .col-sm-1 {
        --size: calc(100%/var(--column-counter)*1);
        flex-basis: var(--size);
        max-width: var(--size);
        }
        
        .col-sm-2 {
            --size: calc(100%/var(--column-counter)*2);
            flex-basis: var(--size);
            max-width: var(--size);
        }
        
        .col-sm-3 {
            --size: calc(100%/var(--column-counter)*3);
            flex-basis: var(--size);
            max-width: var(--size);
        }
        
        .col-sm-4 {
            --size: calc(100%/var(--column-counter)*4);
            flex-basis: var(--size);
            max-width: var(--size);
        }
        
        .col-sm-5 {
            --size: calc(100%/var(--column-counter)*5);
        flex-basis: var(--size);
        max-width: var(--size);
        }
        
        .col-sm-6 {
            --size: calc(100%/var(--column-counter)*6);
            flex-basis: var(--size);
            max-width: var(--size);    
        }
        
        .col-sm-7 {
            --size: calc(100%/var(--column-counter)*7);
            flex-basis: var(--size);
            max-width: var(--size);    
        }
        
        .col-sm-8 {
            --size: calc(100%/var(--column-counter)*8);
            flex-basis: var(--size);
            max-width: var(--size);    
        }
        .col-sm-9 {
            --size: calc(100%/var(--column-counter)*9);
            flex-basis: var(--size);
            max-width: var(--size);   
        }
        
        .col-sm-10 {
            --size: calc(100%/var(--column-counter)*10);
            flex-basis: var(--size);
            max-width: var(--size);   
        }
        
        .col-sm-11 {
            --size: calc(100%/var(--column-counter)*11);
            flex-basis: var(--size);
            max-width: var(--size);   
        }
        
        .col-sm-12 {
            --size: calc(100%/var(--column-counter)*12);
            flex-basis: var(--size);
            max-width: var(--size);  
        }
        
    
}



@media screen and (min-width: 768px) {


    .container {
        --padding-size:calc(var(--gutter-size)/2);
        
        padding-left: var(--padding-size);
        padding-right: var(--padding-size);
        width: 100%;
        max-width: 740px;
        margin-left: auto;
        margin-right: auto;
        }
        
        .row {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-left: calc(var(--padding-size) * -1);
        margin-right: calc(var(--padding-size) * -1);
        }
        
        article {
            border: 2px solid red;
        }
        
        .row > * {
            padding-left: var(--gutter-size);
            padding-right: var(--gutter-size);
        }
        
        
        .col-md-1 {
        --size: calc(100%/var(--column-counter)*1);
        flex-basis: var(--size);
        max-width: var(--size);
        }
        
        .col-md-2 {
            --size: calc(100%/var(--column-counter)*2);
            flex-basis: var(--size);
            max-width: var(--size);
        }
        
        .col-md-3 {
            --size: calc(100%/var(--column-counter)*3);
            flex-basis: var(--size);
            max-width: var(--size);
        }
        
        .col-md-4 {
            --size: calc(100%/var(--column-counter)*4);
            flex-basis: var(--size);
            max-width: var(--size);
        }
        
        .col-md-5 {
            --size: calc(100%/var(--column-counter)*5);
        flex-basis: var(--size);
        max-width: var(--size);
        }
        
        .col-md-6 {
            --size: calc(100%/var(--column-counter)*6);
            flex-basis: var(--size);
            max-width: var(--size);    
        }
        
        .col-md-7 {
            --size: calc(100%/var(--column-counter)*7);
            flex-basis: var(--size);
            max-width: var(--size);    
        }
        
        .col-md-8 {
            --size: calc(100%/var(--column-counter)*8);
            flex-basis: var(--size);
            max-width: var(--size);    
        }
        .col-md-9 {
            --size: calc(100%/var(--column-counter)*9);
            flex-basis: var(--size);
            max-width: var(--size);   
        }
        
        .col-md-10 {
            --size: calc(100%/var(--column-counter)*10);
            flex-basis: var(--size);
            max-width: var(--size);   
        }
        
        .col-md-11 {
            --size: calc(100%/var(--column-counter)*11);
            flex-basis: var(--size);
            max-width: var(--size);   
        }
        
        .col-md-12 {
            --size: calc(100%/var(--column-counter)*12);
            flex-basis: var(--size);
            max-width: var(--size);  
        }
        
    
}




@media screen and (min-width: 992px) {


    .container {
        --padding-size:calc(var(--gutter-size)/2);
        
        padding-left: var(--padding-size);
        padding-right: var(--padding-size);
        width: 100%;
        max-width: 940px;
        margin-left: auto;
        margin-right: auto;
        }
        
        .row {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-left: calc(var(--padding-size) * -1);
        margin-right: calc(var(--padding-size) * -1);
        }
        
        article {
            border: 2px solid red;
        }
        
        .row > * {
            padding-left: var(--gutter-size);
            padding-right: var(--gutter-size);
        }
        
        
        .col-lg-1 {
        --size: calc(100%/var(--column-counter)*1);
        flex-basis: var(--size);
        max-width: var(--size);
        }
        
        .col-lg-2 {
            --size: calc(100%/var(--column-counter)*2);
            flex-basis: var(--size);
            max-width: var(--size);
        }
        
        .col-lg-3 {
            --size: calc(100%/var(--column-counter)*3);
            flex-basis: var(--size);
            max-width: var(--size);
        }
        
        .col-lg-4 {
            --size: calc(100%/var(--column-counter)*4);
            flex-basis: var(--size);
            max-width: var(--size);
        }
        
        .col-lg-5 {
            --size: calc(100%/var(--column-counter)*5);
        flex-basis: var(--size);
        max-width: var(--size);
        }
        
        .col-lg-6 {
            --size: calc(100%/var(--column-counter)*6);
            flex-basis: var(--size);
            max-width: var(--size);    
        }
        
        .col-lg-7 {
            --size: calc(100%/var(--column-counter)*7);
            flex-basis: var(--size);
            max-width: var(--size);    
        }
        
        .col-lg-8 {
            --size: calc(100%/var(--column-counter)*8);
            flex-basis: var(--size);
            max-width: var(--size);    
        }
        .col-lg-9 {
            --size: calc(100%/var(--column-counter)*9);
            flex-basis: var(--size);
            max-width: var(--size);   
        }
        
        .col-lg-10 {
            --size: calc(100%/var(--column-counter)*10);
            flex-basis: var(--size);
            max-width: var(--size);   
        }
        
        .col-lg-11 {
            --size: calc(100%/var(--column-counter)*11);
            flex-basis: var(--size);
            max-width: var(--size);   
        }
        
        .col-lg-12 {
            --size: calc(100%/var(--column-counter)*12);
            flex-basis: var(--size);
            max-width: var(--size);  
        }
        
    
}




@media screen and (min-width: 1200px) {


    .container {
        --padding-size:calc(var(--gutter-size)/2);
        
        padding-left: var(--padding-size);
        padding-right: var(--padding-size);
        width: 100%;
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
        }
        
        .row {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-left: calc(var(--padding-size) * -1);
        margin-right: calc(var(--padding-size) * -1);
        }
        
        article {
            border: 2px solid red;
        }
        
        .row > * {
            padding-left: var(--gutter-size);
            padding-right: var(--gutter-size);
        }
        
        
        .col-xl-1 {
        --size: calc(100%/var(--column-counter)*1);
        flex-basis: var(--size);
        max-width: var(--size);
        }
        
        .col-xl-2 {
            --size: calc(100%/var(--column-counter)*2);
            flex-basis: var(--size);
            max-width: var(--size);
        }
        
        .col-xl-3 {
            --size: calc(100%/var(--column-counter)*3);
            flex-basis: var(--size);
            max-width: var(--size);
        }
        
        .col-xl-4 {
            --size: calc(100%/var(--column-counter)*4);
            flex-basis: var(--size);
            max-width: var(--size);
        }
        
        .col-xl-5 {
            --size: calc(100%/var(--column-counter)*5);
        flex-basis: var(--size);
        max-width: var(--size);
        }
        
        .col-xl-6 {
            --size: calc(100%/var(--column-counter)*6);
            flex-basis: var(--size);
            max-width: var(--size);    
        }
        
        .col-xl-7 {
            --size: calc(100%/var(--column-counter)*7);
            flex-basis: var(--size);
            max-width: var(--size);    
        }
        
        .col-xl-8 {
            --size: calc(100%/var(--column-counter)*8);
            flex-basis: var(--size);
            max-width: var(--size);    
        }
        .col-xl-9 {
            --size: calc(100%/var(--column-counter)*9);
            flex-basis: var(--size);
            max-width: var(--size);   
        }
        
        .col-xl-10 {
            --size: calc(100%/var(--column-counter)*10);
            flex-basis: var(--size);
            max-width: var(--size);   
        }
        
        .col-xl-11 {
            --size: calc(100%/var(--column-counter)*11);
            flex-basis: var(--size);
            max-width: var(--size);   
        }
        
        .col-xl-12 {
            --size: calc(100%/var(--column-counter)*12);
            flex-basis: var(--size);
            max-width: var(--size);  
        }
        
    
}



@media screen and (min-width: 1400px) {


    .container {
        --padding-size:calc(var(--gutter-size)/2);
        
        padding-left: var(--padding-size);
        padding-right: var(--padding-size);
        width: 100%;
        max-width: 1360px;
        margin-left: auto;
        margin-right: auto;
        }
        
        .row {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-left: calc(var(--padding-size) * -1);
        margin-right: calc(var(--padding-size) * -1);
        }
        
        article {
            border: 2px solid red;
        }
        
        .row > * {
            padding-left: var(--gutter-size);
            padding-right: var(--gutter-size);
        }
        
        
        .col-xxl-1 {
        --size: calc(100%/var(--column-counter)*1);
        flex-basis: var(--size);
        max-width: var(--size);
        }
        
        .col-xxl-2 {
            --size: calc(100%/var(--column-counter)*2);
            flex-basis: var(--size);
            max-width: var(--size);
        }
        
        .col-xxl-3 {
            --size: calc(100%/var(--column-counter)*3);
            flex-basis: var(--size);
            max-width: var(--size);
        }
        
        .col-xxl-4 {
            --size: calc(100%/var(--column-counter)*4);
            flex-basis: var(--size);
            max-width: var(--size);
        }
        
        .col-xxl-5 {
            --size: calc(100%/var(--column-counter)*5);
        flex-basis: var(--size);
        max-width: var(--size);
        }
        
        .col-xxl-6 {
            --size: calc(100%/var(--column-counter)*6);
            flex-basis: var(--size);
            max-width: var(--size);    
        }
        
        .col-xxl-7 {
            --size: calc(100%/var(--column-counter)*7);
            flex-basis: var(--size);
            max-width: var(--size);    
        }
        
        .col-xxl-8 {
            --size: calc(100%/var(--column-counter)*8);
            flex-basis: var(--size);
            max-width: var(--size);    
        }
        .col-xxl-9 {
            --size: calc(100%/var(--column-counter)*9);
            flex-basis: var(--size);
            max-width: var(--size);   
        }
        
        .col-xxl-10 {
            --size: calc(100%/var(--column-counter)*10);
            flex-basis: var(--size);
            max-width: var(--size);   
        }
        
        .col-xxl-11 {
            --size: calc(100%/var(--column-counter)*11);
            flex-basis: var(--size);
            max-width: var(--size);   
        }
        
        .col-xxl-12 {
            --size: calc(100%/var(--column-counter)*12);
            flex-basis: var(--size);
            max-width: var(--size);  
        }
        
}